<!--===== MOBILE NAV =====-->
<div class="mobile-menu-wrapper hidden-lg">
  <input type="checkbox" id="check" data-mobile-menu-open />
  <label id="icon" for="check">
    <!--  icon    -->
      <div class="hamburger-menu">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
  </label>

   <!--===== MOBILE Search =====-->
    <div class="btn-search-mbl show-search-btn-mbl d-md-none">
      {% render 'icon-search' %}
    </div>
    <div class="mobile-search">
      <form action="/search" method="get" role="search">
        <input type="search" name="q" id="search-mbl" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t | upcase }}" autofocus>
        {% render 'icon-close' %}
        <input name="type" type="hidden" value="product,page,article,collection"/>
      </form>
    </div>
  
    <div class="container-search inactive">
  
    </div>
    <!--===== MOBILE Search =====-->
  
  <div class="menu-mobile">
    <div class="menu-mobile__close" data-mobile-menu-close><i class="fa fa-times-thin fa-2x"></i></div>
    <div class="nav-mobile">
      <!--===== MOBILE SEARCH =====-->
      <div class="mobile-nav-search">
        <form action="/search" method="get" role="search">
          <input type="search"
                  name="q"
                  value="{{ search.terms | escape }}"
                  placeholder="{{ 'general.search.placeholder' | t }}">
          <input type="hidden" name="type" value="product,page,article,collection" />
        </form>
      </div>

      <!--===== MOBILE PRIMARY MENU =====-->
      <ul class="nav-mobile__primary nav__list m-level-1">

        {% for link_level_1 in linklists[section.settings.mobile_linklist].links %}
          
          {% if link_level_1.links != blank %}
            <li class="nav__item m-level-1">
              <h4 class="nav__title m-level-1">{{ link_level_1.title }}</h4>
                <ul class="nav__list m-level-2">

                  {% for link_level_2 in link_level_1.links %}
                    <li class="nav__item m-level-2">
                      {% if link_level_2.url contains "trouser-fit-finder" %}
                        <a href="{{ link_level_2.url }}" class="nav__link m-level-2 trouser-fit-finder">{{ link_level_2.title }}</a>
                      {% else %}
                        <a href="{{ link_level_2.url }}" class="nav__link m-level-2">{{ link_level_2.title }}</a>
                      {% endif %}
                      
                      
                      {%- if link_level_2.links -%}
                        <ul class="nav__list m-level-3">
                          
                          {%- for link_level_3 in link_level_2.links -%}
                            <li class="nav__item m-level-3">
                              <a href="{{ link_level_3.url }}" class="nav__link m-level-3">{{ link_level_3.title }}</a>
                            </li> <!-- /.nav__item m-level-3 -->
                          {%- endfor -%}

                        </ul> <!-- /.nav__item m-level-3 -->
                      {%- endif -%}

                    </li> <!-- /.nav__item m-level-2 -->
                  {% endfor %}

                </ul> <!-- /.nav__list m-level-2 -->
            </li> <!-- /.nav__item m-level-1 -->

          {% else %}
            <li class="nav__item m-level-1">
              <a href="{{ link_level_1.url }}" class="nav__link m-level-1">{{ link_level_1.title | escape }}</a>
            </li> <!-- /.nav__item m-level-1 -->
          {% endif %}

        {% endfor %}

      </ul> <!-- / .nav-mobile__primary -->

      <!--===== MOBILE SECONDARY MENU =====-->
      <ul class="nav-mobile__secondary nav__list m-level-1">
        {% for link_level_1 in linklists[section.settings.mobile_secondary_linklist].links %}
          <li class="nav__item m-level-1">
            <a href="{{ link_level_1.url }}" class="nav__link m-level-1">{{ link_level_1.title | escape }}</a>
          </li> <!-- /.nav__item m-level-1 -->
        {% endfor %}
      </ul>

      <!--===== MY ACCOUNT & CURRENCY SWITCHER =====-->
      <div class="mobile-bottom-links">
        <div>
          {% if customer %}
                  <a href="/account">{{ 'layout.customer.account' | t }}</a>
              {% else %}
                  {{ 'layout.customer.log_in' | t | customer_login_link }}
              {% endif %}
        </div>
        <div>
          <a class="currency-convertor">{%- render 'bold-currency-picker-mount', openDirection: 'up' -%}</a>
        </div>
      </div>

    </div>

    
  </div>
</div>
<!-- end of mob menu -->
<div class="fade-wrapper"></div>