<nav class="nav-dropdown {% if block.type == 'tff_v2_dropdown' %}tff-v2{% endif %}" data-dropdown-parent id="{{ block.id }}">
    {% if block.type == 'tff_v2_dropdown' %}
        <div class="container tff-v2__dropdown-content {% if block.type == 'dropdown_banner' %}m-banner{% endif %}">
            <div class="ttf-v2__dropdown-content">
                <div class="row {% if block.settings.reverse_sections == 'links_right_block_left' %}flex-row-reverse{% endif %} ttf-v2__dropdown-wrapper">
                    <div class="col-6 ttf-v2__dropdown-left">
                        <h1 class="ttf-v2__dropdown-title">{{ block.settings.tff_v2_dd_title }}</h1>
                        <p class="ttf-v2__dropdown-description">{{ block.settings.tff_v2_dd_description }}</p>
                        <div class="ttf-v2__dropdown-btn">
                            <a class="btn btn-border" href="{{ block.settings.tff_v2_dd_btn_url }}">{{ block.settings.tff_v2_dd_btn_lbl }}</a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row ttf-v2__dropdown-right">
                            <div class="col-4 dropdown-item">
                                <a href="{{ block.settings.tff_v2_dd_url_one }}">
                                    <img loading="lazy" class="lazyload" height="auto" width="{{ block.settings.tff_v2_dd_image_one.width }}" src="{{ block.settings.tff_v2_dd_image_one | img_url: 'master' }}" alt="{{ block.settings.tff_v2_dd_text_one }}">
                                    <strong>{{  block.settings.tff_v2_dd_text_one }}</strong>
                                </a>
                            </div>
                            <div class="col-4 dropdown-item">
                                <a href="{{ block.settings.tff_v2_dd_url_two }}">
                                    <img loading="lazy" class="lazyload" height="auto" width="{{ block.settings.tff_v2_dd_image_two.width }}" src="{{ block.settings.tff_v2_dd_image_two | img_url: 'master' }}" alt="{{ block.settings.tff_v2_dd_text_two }}">
                                    <strong>{{  block.settings.tff_v2_dd_text_two }}</strong>
                                </a>
                            </div>
                            <div class="col-4 dropdown-item">
                                <a href="{{ block.settings.tff_v2_dd_url_three }}">
                                    <img loading="lazy" class="lazyload" height="auto" width="{{ block.settings.tff_v2_dd_image_three.width }}" src="{{ block.settings.tff_v2_dd_image_three | img_url: 'master' }}" alt="{{ block.settings.tff_v2_dd_text_three }}">
                                    <strong>{{  block.settings.tff_v2_dd_text_three }}</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {%- else -%}
        <div class="container {% if block.type == 'dropdown_banner' %}m-banner{% endif %}">

            <div class="row {% if block.settings.reverse_sections == 'links_right_block_left' %}flex-row-reverse{% endif %}">
                {%- assign counter = 0 -%}
                {%- for i in (1..3) -%}
                    {%- capture list_title -%}list{{ i }}_title
                    {%- endcapture -%}
                    {%- capture menu_list -%}link{{ i }}_list
                    {%- endcapture -%}
                    {%- capture image_block -%}image{{ i }}_image
                    {%- endcapture -%}

                    {%- capture image -%}image{{ i }}_image
                    {%- endcapture -%}
                    {%- capture title -%}image{{ i }}_title
                    {%- endcapture -%}
                    {%- capture text -%}image{{ i }}_text
                    {%- endcapture -%}
                    {%- capture url -%}image{{ i }}_url
                    {%- endcapture -%}

                    <div class="col-2">
                        {% if block.settings[menu_list] != blank and block.settings[image_block] == blank%}
                            {% comment %} Menu Linklist layout {% endcomment %}
                            {%- assign menu = block.settings[menu_list] -%}
                            {% if block.settings[list_title] != blank %}
                                <h4 class="nav-dropdown__title">{{ block.settings[list_title] }}</h4>
                            {% endif %}
                            <div class="nav m-level-2">
                                <ul class="nav__items m-level-2">
                                    {% for link_level_2 in linklists[menu].links %}
                                        <li class="nav__item m-level-2">
                                            <a class="nav__link m-level-2" href="{{ link_level_2.url }}">{{ link_level_2.title }}</a>
                                            {%- if link_level_2.links != blank -%}
                                                <ul class="nav__items m-vertical m-level-3">
                                                    {% for link_level_3 in link_level_2.links %}
                                                        <li class="nav__item m-level-3">
                                                            <a class="nav__link m-level-3" href="{{ link_level_3.url }}">{{ link_level_3.title }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                                {% comment %} / .nav__items.m-level-3 {% endcomment %}
                                            {%- endif -%}
                                        </li>
                                    {% endfor %}
                                </ul>
                                {% comment %} / .nav__items.m-level-2 {% endcomment %}
                            </div>
                        {% elsif block.settings[image_block] != blank and block.settings[menu_list] == blank %}
                            {% comment %} Image block layout {% endcomment %}
                            <div class="image-link-col">
                                <a class="image-link no-hover-link lazyload" href="{{ block.settings[button_url] }}" {{ block.shopify_attributes }}>
                                    {%- assign ratio = 4 | divided_by: 3.00 | times: 100 -%}
                                    <div class="image-link__image" style="background-image: url({{ block.settings[image] | img_url: '1000x' }}); padding-top: {{ ratio }}%"></div>
                                    <h4 class="image-link__title">
                                        {{ block.settings[title] }}
                                        {% render 'icon-arrow-right-thin' %}</h4>
                                    <div class="image-link__text">
                                        {{ block.settings[text] }}</div>
                                </a>
                            </div>
                            {% else %}
                        {% endif %}
                    </div>
                {%- endfor -%}
                <div class="col-6">
                    {%- if block.type contains 'text' -%}
                        <div class="nav-dropdown__block">
                            <div class="text-block" style="background: transparent url({{ block.settings.bg_image | img_url: 'master' }}) 0% 0% no-repeat padding-box; background-size:cover;display: flex;
                                                                            align-items: start">
                                {%- if block.settings.text != blank -%}
                                    <div class="text-block__text">{{ block.settings.text }}</div>
                                {%- endif -%}

                                {%- if block.settings.btn_text != blank -%}
                                    <div class="text-block__buttons">
                                        {%- if block.settings.btn_text != blank -%}
                                            <a href="{{ block.settings.btn_url }}" class="btn btn-border">{{ block.settings.btn_text }}</a>
                                        {%- endif -%}
                                    </div>
                                {%- endif -%}
                            </div>
                        </div>
                    {%- endif -%}
                </div>
            </div>


        </div>
    {%- endif -%}
</nav>
<!-- /.nav-dropdown -->
