<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
	{% include "pandectes-rules" %}{% render 'pagefly-head' %}

<script>
/* >> TriplePixel :: start*/
~function(W,H,A,L,E,_){function O(T,R){void 0===R&&(R=!1),H=new XMLHttpRequest,H.open("GET","//triplewhale-pixel.web.app/triplepx.txt?"+~(Date.now()/9e7),!0),H.send(null),H.onreadystatechange=function(){4===H.readyState&&200===H.status?setTimeout(function(){return eval(H.responseText)},50):(299<H.status||H.status<200)&&T&&!R&&(R=!0,O(T-1))}}if(L=window,!L[H+"sn"]){L[H+"sn"]=1;try{A.setItem(H,1+(0|A.getItem(H)||0)),W.includes("⇈")&&A.setItem(H+"Stg",1+(0|A.getItem(H+"Stg")||0)),(E=JSON.parse(A.getItem(H+"U")||"[]")).push(location.href),A.setItem(H+"U",JSON.stringify(E))}catch(e){}A.getItem('"!nC`')||(A=L,A[H]||(L=function(){return Date.now().toString(36)+"_"+Math.random().toString(36)},E=A[H]=function(t,e){return W=L(),(E._q=E._q||[]).push([W,t,e]),E._headless=!0,W},E.ch=W,O(5)))}}("","TriplePixel",localStorage);
/* << TriplePixel :: end*/
</script>





  {% include 'globo.filter.script' %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="stylesheet" href="https://use.typekit.net/hsm8wrj.css">
  {% comment %} HREFLANG for localization {% endcomment %}
  {% if settings.enable_localization %}
    {% include 'hreflang-tags' %}
  {% endif %}
  {% comment %} END of HREFLANG for localization {% endcomment %}
  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {% capture seo_title %}
    {{ page_title }}
    {% if current_tags %}
      {%- assign meta_tags = current_tags | join: ', ' %} | {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {% endif %}
    {% if current_page != 1 %}
      | {{ 'general.meta.page' | t: page: current_page }}ç
    {% endif %}
    {% unless page_title contains shop.name %}
      | {{ shop.name }}
    {% endunless %}
  {% endcapture %}
  <title>{{ seo_title }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {% if collection.handle == 'tops' or collection.handle == 'dresses' or collection.handle == 'jackets' %}
    <style>
      .collection__wrapper #gf-tree .gf-filter-contents div.gf-option-block:nth-child(2) {
        display: none;
      }
    </style>
  {% endif %}
  {% if template contains 'collection' %}
    <style>.lazyload,.lazyloading{opacity:0}.lazyloaded{opacity:1;transition:opacity.3s}</style>
  {% endif %}
  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

    window.theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }}
      },
      bubble: {
        pushTimeout: {{ settings.c_bubble_speech_bubble_push_timer }},
        pushCloseTimeout: {{ settings.c_bubble_speech_bubble_push_close_timer }}
      },
      moneyFormat: {{ shop.money_format | json }}
    };
  </script>

{%- if settings.c_bubble_enabled -%}
{% include 'c-bubble' %}
{%- endif -%}

  {% if template.directory == 'customers' %}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
  {% endif %}

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

  <script src="{{ 'slick.min.js' | asset_url }}"></script>
  <script src="{{ 'jquery.zoom.min.js' | asset_url }}"></script>
  <script src="{{ 'aos.js' | asset_url }}"></script>
  {% if shop.domain == 'us.daiwear.com' %}
    <script src="{{ 'instafeed.min.js' | asset_url }}"></script>
  {% endif %}

  
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->

  {{ content_for_header }} 

  {%- include 'bold-common' -%}

  <!-- BEGIN MICROSOFT ADS TRACKING -->
  <script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"26087419"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>
  <!-- END MICROSOFT ADS TRACKING -->

  <!-- Hotjar Tracking Code for www.daiwear.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:528396,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
 </script>

  {% render 'easy-gdpr-settings' %}
  
  <!-- Global site tag (gtag.js) - Google Ads: 847067584 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-847067584"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-847067584');
</script>
  

  
{% include 'analyzify-gtm-body' %}
</head>

<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">
<script>window.KlarnaThemeGlobals={};{%case template.name%} {%when"product"%} {% if product.first_available_variant.price %}window.KlarnaThemeGlobals.data_purchase_amount = {{ product.first_available_variant.price }};{% endif %}window.KlarnaThemeGlobals.productVariants={{product.variants|json}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%when"cart"%} window.KlarnaThemeGlobals.data_purchase_amount={{cart.total_price}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%endcase%}</script>





  {% comment %}
  Colour swatches style
  {% endcomment %}
  {% section 'color-swatches' %}

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>
  {% comment %} Disable for Pop Up Store Trouser Fit Finder {% endcomment %}
  {% if collection.handle != 'popup-store-trouser-finder' %}
    {{ collection.handle }}
    {% section 'popup-subscription' %}
    <header class="site-header" role="banner">
      {% section 'header' %}
      {% if template.name == 'blog' or template.name == 'article' %}
        {% section 'nav-blog-secondary-desktop' %}
      {% else %}
        {% section 'nav-secondary-desktop' %}
      {% endif %}
    </header>
  {% endif %}
  {% comment %} END of Disable for Pop Up Store Trouser Fit Finder {% endcomment %}

  <main role="main" id="MainContent" {% if template == 'index' or template contains 'collection' %}class="page-padding-reduced"{% endif %}>
    {{ content_for_layout }} 
  </main>

  {% comment %} Disable for Pop Up Store Trouser Fit Finder {% endcomment %}
  {% if collection.handle != 'popup-store-trouser-finder' %}
    {% section 'footer' %}
    {%- include 'bold-currency-converter' -%}
    {% include 'globo.filter.action' %}
    {% section 'geolocation' %}
  {% endif %}
  {% comment %} END of Disable for Pop Up Store Trouser Fit Finder {% endcomment %}
 
  {% comment %} Refresh AOS script in Theme customizer to prevent content from disappearing {% endcomment %}
  <script>
    function refreshScripts(e) {
    // Refresh AOS
    AOS.refreshHard();
  }
    $(document).on('shopify:section:select shopify:section:load shopify:section:reorder', refreshScripts);
  </script>
  
  {% comment %} Klaviyo Integration {% endcomment %}
  <script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=TGBPVc"></script>
{% render 'spurit_dmr_theme_snippet' %}


  <script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=TGBPVc"></script>


   <!-- Linkedin Conversion Tracker -->
  <script type="text/javascript">
    _linkedin_partner_id = "4033140";
    window._linkedin_data_partner_ids = window._linkedin_data_partner_ids ||
      [];
    window._linkedin_data_partner_ids.push(_linkedin_partner_id);
  </script><script type="text/javascript">
  (function(l) {
    if (!l){window.lintrk = function(a,b){window.lintrk.q.push([a,b])};
            window.lintrk.q=[]}
    var s = document.getElementsByTagName("script")[0];
    var b = document.createElement("script");
    b.type = "text/javascript";b.async = true;
    b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
    s.parentNode.insertBefore(b, s);})(window.lintrk);
  </script>
  <noscript>
    <img loading="lazy" height="1" width="1" style="display:none;" alt="" 
         src="https://px.ads.linkedin.com/collect/?pid=4033140&fmt=gif" />
  </noscript>
  <!-- End Linkedin Conversion Tracker -->  

{% comment %}Wishlist Feature {% endcomment %}
    {% include 'swymSnippet' %}
    {% include 'swym-product-view' %}
    {%- render 'swym-header-counter' -%}
    <script>
      if (!window.SwymCallbacks) {
        window.SwymCallbacks = [];
      }
      window.SwymCallbacks.push(swymAddToWishlist); /* Init Here */
      if(window.location.href.indexOf("wishlist") == -1){
        window.SwymCallbacks.push(swymRenderButton); 
      }
     
    
      function swymRenderButton(){
        window._swat.fetch( function(products) {
          products.map(function(product) {
            var addToWishlistButton = document.getElementById("product_"+product.empi);
            if(addToWishlistButton !== null){
              addToWishlistButton.classList.add('disabled', 'swym-added');
            } 
          });    
         
        });
      }
      function swymAddToWishlist(swat) {
        attachClickListeners();
      }
    
      function onAddToWishlistClick(e) {
        
        e.preventDefault();
        var productId = e.currentTarget.getAttribute("data-product-id");
        var variantId = e.currentTarget.getAttribute("data-variant-id");
        var sizes = e.currentTarget.getAttribute("data-sizes");
        var compareprice = e.currentTarget.getAttribute("data-compare-price");
        var badge = e.currentTarget.getAttribute("data-badge");
        var iu = e.currentTarget.getAttribute("data-iu");
        var length = e.currentTarget.getAttribute("data-length");
        var colors = e.currentTarget.getAttribute("data-colors");
        var du = e.target.getAttribute("data-product-url");
        
        window._swat.addToWishList(
        {
          "epi": variantId,
          "du": du,
          "empi": productId,
          "iu" : iu,
          "et": 4,
          "cprops": {sizes: sizes, compareprice: compareprice, badge: badge, colors: colors, length: length}
        },
        function(r) {
          var addToWishlistButton = document.getElementById("product_"+r.empi);
            addToWishlistButton.classList.add('disabled', 'swym-added');
        }
    );
      }
    
      function attachClickListeners() {
        var addToWishlists = document.getElementsByClassName("swym-add-to-wishlist-view-product");
        for (var i = 0; i < addToWishlists.length; i++) {
          addToWishlists[i].addEventListener('click', onAddToWishlistClick, false);
          addToWishlists[i].classList.add('swym-icon', 'swym-heart', 'swym-loaded');
        }
      }
     
    </script>
    
    <script class="swym-wishlist-header-counter-custom">
      function renderWishlistCounter(swat) {
          var isMobile = false; 
          if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|ipad|iris|kindle|Android|Silk|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(navigator.userAgent) 
              || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(navigator.userAgent.substr(0,4))) { 
              isMobile = true;
          }
          if(!isMobile){
              var counter_elem = document.querySelectorAll(".swym-wishlist-header-counter"); /* Custom header can be added here.*/
              if (counter_elem) {            
                  for (var i = 0; i < counter_elem.length; i++) {
                    
                      if (swat.renderWishlistCount) {
                          swat.renderWishlistCount(counter_elem[i], function(count, element) {
                            console.log("debug - renderWishlistCount desktop", count, element); 
                          });
                      }
                  }
              } 
          } else{
              var counter_elem_mobile = document.querySelectorAll(".swym-wishlist-header-counter-mobile"); /* Custom header can be added here.*/
              if (counter_elem_mobile) {
                  for (var i = 0; i < counter_elem_mobile.length; i++) {
                      if (swat.renderWishlistCount) {
                          swat.renderWishlistCount(counter_elem_mobile[i], function(count, element) {
                            console.log("debug - renderWishlistCount mobile", count, element); 
                          });
                      }
                  }
              }
          }
      }
      window.SwymCallbacks.push(renderWishlistCounter);
    </script>
  
  {% comment %}Wishlist Feature {% endcomment %}{% comment %}Wishlist Feature {% endcomment %}
    {% include 'swymSnippet' %}
    {% include 'swym-product-view' %}
    {%- render 'swym-header-counter' -%}
    <script>
      if (!window.SwymCallbacks) {
        window.SwymCallbacks = [];
      }
      window.SwymCallbacks.push(swymAddToWishlist); /* Init Here */
      if(window.location.href.indexOf("wishlist") == -1){
        window.SwymCallbacks.push(swymRenderButton); 
      }
     
    
      function swymRenderButton(){
        window._swat.fetch( function(products) {
          products.map(function(product) {
            var addToWishlistButton = document.getElementById("product_"+product.empi);
            if(addToWishlistButton !== null){
              addToWishlistButton.classList.add('disabled', 'swym-added');
            } 
          });    
         
        });
      }
      function swymAddToWishlist(swat) {
        attachClickListeners();
      }
    
      function onAddToWishlistClick(e) {
        
        e.preventDefault();
        var productId = e.currentTarget.getAttribute("data-product-id");
        var variantId = e.currentTarget.getAttribute("data-variant-id");
        var sizes = e.currentTarget.getAttribute("data-sizes");
        var compareprice = e.currentTarget.getAttribute("data-compare-price");
        var badge = e.currentTarget.getAttribute("data-badge");
        var iu = e.currentTarget.getAttribute("data-iu");
        var length = e.currentTarget.getAttribute("data-length");
        var colors = e.currentTarget.getAttribute("data-colors");
        var du = e.target.getAttribute("data-product-url");
        
        window._swat.addToWishList(
        {
          "epi": variantId,
          "du": du,
          "empi": productId,
          "iu" : iu,
          "et": 4,
          "cprops": {sizes: sizes, compareprice: compareprice, badge: badge, colors: colors, length: length}
        },
        function(r) {
          var addToWishlistButton = document.getElementById("product_"+r.empi);
            addToWishlistButton.classList.add('disabled', 'swym-added');
        }
    );
      }
    
      function attachClickListeners() {
        var addToWishlists = document.getElementsByClassName("swym-add-to-wishlist-view-product");
        for (var i = 0; i < addToWishlists.length; i++) {
          addToWishlists[i].addEventListener('click', onAddToWishlistClick, false);
          addToWishlists[i].classList.add('swym-icon', 'swym-heart', 'swym-loaded');
        }
      }
     
    </script>
    
    <script class="swym-wishlist-header-counter-custom">
      function renderWishlistCounter(swat) {
          var isMobile = false; 
          if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|ipad|iris|kindle|Android|Silk|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(navigator.userAgent) 
              || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(navigator.userAgent.substr(0,4))) { 
              isMobile = true;
          }
          if(!isMobile){
              var counter_elem = document.querySelectorAll(".swym-wishlist-header-counter"); /* Custom header can be added here.*/
              if (counter_elem) {            
                  for (var i = 0; i < counter_elem.length; i++) {
                    
                      if (swat.renderWishlistCount) {
                          swat.renderWishlistCount(counter_elem[i], function(count, element) {
                            console.log("debug - renderWishlistCount desktop", count, element); 
                          });
                      }
                  }
              } 
          } else{
              var counter_elem_mobile = document.querySelectorAll(".swym-wishlist-header-counter-mobile"); /* Custom header can be added here.*/
              if (counter_elem_mobile) {
                  for (var i = 0; i < counter_elem_mobile.length; i++) {
                      if (swat.renderWishlistCount) {
                          swat.renderWishlistCount(counter_elem_mobile[i], function(count, element) {
                            console.log("debug - renderWishlistCount mobile", count, element); 
                          });
                      }
                  }
              }
          }
      }
      window.SwymCallbacks.push(renderWishlistCounter);
    </script>
  
  {% comment %}Wishlist Feature {% endcomment %}{% comment %}Wishlist Feature {% endcomment %}
    {% include 'swymSnippet' %}
    {% include 'swym-product-view' %}
    {%- render 'swym-header-counter' -%}
    <script>
      if (!window.SwymCallbacks) {
        window.SwymCallbacks = [];
      }
      window.SwymCallbacks.push(swymAddToWishlist); /* Init Here */
      if(window.location.href.indexOf("wishlist") == -1){
        window.SwymCallbacks.push(swymRenderButton); 
      }
     
    
      function swymRenderButton(){
        window._swat.fetch( function(products) {
          products.map(function(product) {
            var addToWishlistButton = document.getElementById("product_"+product.empi);
            if(addToWishlistButton !== null){
              addToWishlistButton.classList.add('disabled', 'swym-added');
            } 
          });    
         
        });
      }
      function swymAddToWishlist(swat) {
        attachClickListeners();
      }
    
      function onAddToWishlistClick(e) {
        
        e.preventDefault();
        var productId = e.currentTarget.getAttribute("data-product-id");
        var variantId = e.currentTarget.getAttribute("data-variant-id");
        var sizes = e.currentTarget.getAttribute("data-sizes");
        var compareprice = e.currentTarget.getAttribute("data-compare-price");
        var badge = e.currentTarget.getAttribute("data-badge");
        var iu = e.currentTarget.getAttribute("data-iu");
        var length = e.currentTarget.getAttribute("data-length");
        var colors = e.currentTarget.getAttribute("data-colors");
        var du = e.target.getAttribute("data-product-url");
        
        window._swat.addToWishList(
        {
          "epi": variantId,
          "du": du,
          "empi": productId,
          "iu" : iu,
          "et": 4,
          "cprops": {sizes: sizes, compareprice: compareprice, badge: badge, colors: colors, length: length}
        },
        function(r) {
          var addToWishlistButton = document.getElementById("product_"+r.empi);
            addToWishlistButton.classList.add('disabled', 'swym-added');
        }
    );
      }
    
      function attachClickListeners() {
        var addToWishlists = document.getElementsByClassName("swym-add-to-wishlist-view-product");
        for (var i = 0; i < addToWishlists.length; i++) {
          addToWishlists[i].addEventListener('click', onAddToWishlistClick, false);
          addToWishlists[i].classList.add('swym-icon', 'swym-heart', 'swym-loaded');
        }
      }
     
    </script>
    
    <script class="swym-wishlist-header-counter-custom">
      function renderWishlistCounter(swat) {
          var isMobile = false; 
          if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|ipad|iris|kindle|Android|Silk|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(navigator.userAgent) 
              || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(navigator.userAgent.substr(0,4))) { 
              isMobile = true;
          }
          if(!isMobile){
              var counter_elem = document.querySelectorAll(".swym-wishlist-header-counter"); /* Custom header can be added here.*/
              if (counter_elem) {            
                  for (var i = 0; i < counter_elem.length; i++) {
                    
                      if (swat.renderWishlistCount) {
                          swat.renderWishlistCount(counter_elem[i], function(count, element) {
                            console.log("debug - renderWishlistCount desktop", count, element); 
                          });
                      }
                  }
              } 
          } else{
              var counter_elem_mobile = document.querySelectorAll(".swym-wishlist-header-counter-mobile"); /* Custom header can be added here.*/
              if (counter_elem_mobile) {
                  for (var i = 0; i < counter_elem_mobile.length; i++) {
                      if (swat.renderWishlistCount) {
                          swat.renderWishlistCount(counter_elem_mobile[i], function(count, element) {
                            console.log("debug - renderWishlistCount mobile", count, element); 
                          });
                      }
                  }
              }
          }
      }
      window.SwymCallbacks.push(renderWishlistCounter);
    </script>
  
  {% comment %}Wishlist Feature {% endcomment %}
  <script src="{{ 'custom.js' | asset_url }}"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var lazyloadImages;    
    
      if ("IntersectionObserver" in window) {
        lazyloadImages = document.querySelectorAll(".lazy");
        var imageObserver = new IntersectionObserver(function(entries, observer) {
          entries.forEach(function(entry) {
            if (entry.isIntersecting) {
              var image = entry.target;
              image.classList.remove("lazy");
              imageObserver.unobserve(image);
            }
          });
        });
    
        lazyloadImages.forEach(function(image) {
          imageObserver.observe(image);
        });
      } else {  
        var lazyloadThrottleTimeout;
        lazyloadImages = document.querySelectorAll(".lazy");
        
        function lazyload () {
          if(lazyloadThrottleTimeout) {
            clearTimeout(lazyloadThrottleTimeout);
          }    
    
          lazyloadThrottleTimeout = setTimeout(function() {
            var scrollTop = window.pageYOffset;
            lazyloadImages.forEach(function(img) {
                if(img.offsetTop < (window.innerHeight + scrollTop)) {
                  img.src = img.dataset.src;
                  img.classList.remove('lazy');
                }
            });
            if(lazyloadImages.length == 0) { 
              document.removeEventListener("scroll", lazyload);
              window.removeEventListener("resize", lazyload);
              window.removeEventListener("orientationChange", lazyload);
            }
          }, 20);
        }
    
        document.addEventListener("scroll", lazyload);
        window.addEventListener("resize", lazyload);
        window.addEventListener("orientationChange", lazyload);
      }
    })
    
    
  </script>

</body>
</html>
