<div class="home-page-banner-section">
    <div class="container" data-slider-container>
        <div class="home-page-banner-items" data-home-page-banner-slider>
            {% for block in section.blocks %}
                <div class="home-page-banner-item">
                    <a class="home-page-banner-item-link" href="{{ block.settings.home_page_banner_feature_url }}"><img loading="lazy" class="lazyload" height="auto" data-src="{{ block.settings.home_page_banner_feature_img | img_url: 'master' }}" alt="{{ block.settings.home_page_banner_feature_title }}" class="home_page_banner_feature__img" /></a>
                    <a class="home-page-banner-span" href="{{ block.settings.home_page_banner_feature_url }}">
                        <span class="home-page-banner-item-title">{{ block.settings.home_page_banner_feature_title }}<img data-src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/right-arrow.png?v=1665663122" loading="lazy" class="lazyload" height="20" width="20" /></span></a>
                </div>
            {% endfor %}               
        </div>
    </div>
</div>    
{% schema %}
{
    "name": "Home Page Banner",
    "class": "home-page-banner-feature-section",
  	"tag": "section",
    "settings": [
        {
            "type": "image_picker",
            "id": "home_page_banner_arrow_icon",
            "label": "Home Page Banner Arrow Icon"
        }
    ],
    "blocks": [
        {
            "type": "text",
            "name": "Home Page Banner Item",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "home_page_banner_feature_img",
                    "label": "Home Page Banner Feature Image"
                },                
                {
                    "id": "home_page_banner_feature_title",
                    "type": "text",
                    "label": "Home Page Banner Feature Title"
                }, 
                {
                    "id": "home_page_banner_feature_url",
                    "type": "url",
                    "label": "Home Page Banner Feature URL"
                }
            ]
        }
    ], 
    "presets": [
    {
        "name": "Home Page Banner",
        "category": "Banner"
    }
    ]
}
{% endschema %}